name: Update brave-version.txt

on:
  schedule:
    - cron: "17 * * * *"
  
jobs:
  build:
    runs-on: ubuntu-latest
    # only run manually or on schedule, but only for the main repo
    if: github.event_name != 'schedule' || (github.event_name == 'schedule' && github.repository == 'webrecorder/browsertrix-browser-base')

    steps:
      - uses: actions/checkout@v4

      - name: Set up Git
        run: |
          git config user.email "dev@webrecorder.net"
          git config user.name "Webrecorder Dev Automation"

      - name: Run update script
        run: ./update-brave.sh
        shell: bash

